.teams {
	display: flex;
	justify-content: end;
	width: 100%;
}
.teams-container {
	width: 91%;
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.teams-header {
	width: 100%;
	height: auto;
	display: flex;
	flex-direction: column;
	color: white;
	margin: 20px 0px;
	font-size: 22px;
	font-weight: 700;
	border-bottom: 1px solid #30363d;
	position: static;
}
.teams-header-wrapper {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.teams-header-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.teams-nav {
	display: flex;
	flex-direction: row;
	margin-top: 15px;
}
.teams-ul {
	display: flex;
	flex-direction: row;
	list-style: none;
}
.teams-li-active {
	font-size: 14px;
	font-weight: 600;
	color: #38c669;
	padding: 8px 4px;
	border-bottom: 2px solid #38c669;
	list-style: none;
	cursor: pointer;
	margin-right: 6px;
	transition: 0.3s all;
}
/* .teams-li-active:hover {
	background-color: gray;
} */
.teams-li-inactive {
	font-size: 14px;
	font-weight: 600;
	list-style: none;
	padding: 8px 4px;
	border-bottom: 2px solid transparent;
	color: white;
	cursor: pointer;
	margin-right: 6px;
	transition: 0.3s all;
}
.search-wrapper {
	display: flex;
	align-items: center;
	margin: 6px;
}

.teams-search-bar {
	position: relative;
	height: 20px;
	width: 200px;
	background-color: #161b22;
	color: white;
	font-size: 12px;
	padding: 4px 8px;
	margin-right: 10px;
	border: 0;
	border-radius: 4px;
	outline: none;
	transition: 0.4s all;
}
.teams-search-bar:focus {
	width: 250px;
	background-color: gray;
}
.search-icon {
	position: absolute;
	right: 42px;
	font-size: 18px;
}
