.create-team-form {
	width: 40%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;

	background-color: #1b2026;
	color: white;
	padding: 30px;
	font-size: 16px;
	border-radius: 4px;
	box-shadow: 0px 10px 10px -2px black;
}
.form-title {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 10px;
}
.form-info {
	margin-bottom: 20px;
}
label {
	display: flex;
	flex-direction: column;
	margin: 8px 0px;
	position: relative;
}
.valid-input-name {
	padding: 8px 14px;
	border: 0px;
	background-color: #30363d;
	color: white;
	border-bottom: 2px solid transparent;
	margin: 6px 0px;
	border-radius: 4px;
	transition: 0.3s all;
}
.valid-input-name:focus {
	outline: 0;
	border-bottom: 2px solid #38c669;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
.invalid-input-name {
	padding: 8px 14px;
	border: 0px;
	background-color: #30363d;
	color: rgb(255, 97, 97);
	border-bottom: 2px solid rgb(255, 97, 97);
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	margin: 6px 0px;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	outline: 0;
}
.name-length {
	position: absolute;
	top: 33.5px;
	right: 14px;
	color: #6d6d6d;
}
.name-length-limit {
	position: absolute;
	top: 34px;
	right: 14px;
	color: rgb(255, 97, 97);
}
textarea {
	padding: 8px 14px;
	border: 0px;
	background-color: #30363d;
	color: white;
	border-bottom: 2px solid transparent;
	margin: 6px 0px;
	border-radius: 4px;
	transition: 0.3s all;
	resize: none;
}
textarea:focus {
	outline: 0;
	border-bottom: 2px solid #38c669;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}
select {
	padding: 8px 14px;
	border: 0px;
	background-color: #30363d;
	color: white;
	border-bottom: 2px solid transparent;
	margin: 6px 0px;
	border-radius: 4px;
	transition: 0.3s all;
}
select:hover {
	cursor: pointer;
}

.btns {
	display: flex;
	justify-content: end;
	margin-top: 15px;
}
.close-btn {
	width: 100px;
	background-color: transparent;
	color: white;
	padding: 6px 16px;
	font-size: 16px;
	font-weight: 600;
	margin-right: 20px;
	border: 0px;
	border: 2px solid #30363d;
	border-radius: 20px;
}
.close-btn:hover {
	cursor: pointer;
	background-color: #30363d;
}

.create-btn {
	width: 100px;
	padding: 6px 0px;
	border: 0px;
	border-radius: 20px;
	background-color: #38c669;
	color: white;
	font-weight: 600;
}
.create-btn:hover {
	cursor: pointer;
	background-color: #2fa559;
}
.create-btn:disabled {
	width: 100px;
	background-color: #30363d;
	color: #6d6d6d;
	font-weight: 600;
	padding: 6px 0px;
	border: 0px;
	border-radius: 20px;
}
.create-btn:disabled:hover {
	background-color: #30363d;
	color: #6d6d6d;
	cursor: auto;
}
