.teams-item-options {
	position: absolute;
	top: 30px;
	right: -140px;
	background-color: #272c34;
	border-radius: 2px;
	width: 150px;
	z-index: 3;
}
.options-hidden-btn {
	width: 100%;
	color: white;
	background-color: transparent;
	font-size: 16px;
	text-align: center;
	border: 0;
	padding: 8px;
}
